// main: main.less

body > .header {
    .card-shadow();

    height: 64px;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 0px;
}

#gmap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 64px;
}
